button.dropdown__icon {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  background: none !important;

  &:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
.dark-layout {
  button.dropdown__icon {
    &:focus {
      color: $dark-text-medium !important;
    }
  }
}