//light theme

// dark theme
$dark-background-deep: #121212;
$dark-background-surface: #1E1E1E;

$dark-text-dark: rgba(255, 255, 255, 0.87);
$dark-text-medium: rgba(255, 255, 255, 0.6);
$dark-text-disabled: rgba(255, 255, 255, 0.38);

$dark-border-color: rgba(255, 255, 255, .1);
$dark-border-color-primary: #d602ee;

$dark-primary-light: #BB86FC;
$dark-primary-light-hover: #9E55FC;
$dark-primary-dark: #6002EE;
$dark-secondary-light: #03DAC5;
$dark-secondary-dark: #01A299;